/* External Stylesheet*/

/************************* QWidget  **************************/ 

QWidget {
    background-color: rgb(0, 0, 0);
    font-family: "Cascadia Code";
    selection-color: black;
    selection-background-color: lime;
}

/************************* For the Labels  **************************/ 

QLabel {
    color: lime;
}

#baseConvHeader {
    font-size: 16px;
}


/************************* QPushButtons **************************/ 

QPushButton{
	color: lime;
    border-style: outset;
    border-width: 2px;
    border-radius: 4px;
    border-color: darkgreen;
}

QPushButton:hover{
    border-color: green;
}

QPushButton:pressed{
   border-color : lime;
}

QPushButton:disabled{
	color: rgb(0, 59, 0);
    border-color: rgb(0, 59, 0);
}

#negate {
    border-radius: 8px;
    padding: 6px 12px 6px 12px;
    margin: 0px 7px 0px 9px;
    font-size: 14px;
}

/************************* QComboBox**************************/ 

QComboBox {
    color: lime;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: darkgreen;
    font-family: "Cascadia Code";
}

QComboBox:hover {
    border-color: green;
}

QComboBox:on {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
    border-color: lime;
}

QComboBox:active {
    color: lime;
}

QComboBox QAbstractItemView {
    outline: none;
    color: lime;
    border: 2px solid lime;
    border-top: 0px;
}

QComboBox::drop-arrow:on {
    color: lime;
}

#bitDropBox {
    padding: 5px;
    font-size: 14px;
}

/************************* QPlainTextEdit  **************************/ 

#baseEditBox {
    color: lime;
    font: 12pt "Cascadia Code";
    border: 2px solid darkgreen;
}

#baseEditBox:hover {
    border: 2px solid green;
}

#baseEditBox:focus{
    border: 2px solid limegreen;
}

/************************* QRadioButton  **************************/ 
QRadioButton {
    background-color: transparent;
    color: lime;
}

QRadioButton::indicator::unchecked {
   image: url(assets/radio-unchecked.png);
}

QRadioButton::indicator:unchecked:hover {
    image: url(assets/radio-unchecked-hover.png);
}

QRadioButton::indicator:unchecked:pressed {
    image: url(assets/radio-unchecked-pressed.png);
}

QRadioButton::indicator::checked {
    image: url(assets/radio-checked.png);
}

QRadioButton::indicator:checked:hover {
    image: url(assets/radio-checked-hover.png);
}

QRadioButton::indicator:checked:pressed {
    image: url(assets/radio-checked-pressed.png);
}

#unSignedRadio, #signedRadio {
    font-size: 14px;
}
/************************* For the Output Qline  **************************/
QLineEdit{

    background-color: black;
    border-style: outset;
    border-width: 2px;
    border-radius: 4px;
    border-color: lime;
    padding: 2px;
    color: lime;
    font-size: 19px;

}
