/* External Stylesheet*/


/************************* For the Widget  **************************/ 

QWidget {
    background-color: rgb(0, 0, 0);
    font-family: "Cascadia Code";
}



/************************* For the Labels  **************************/ 

QLabel {
    color: lime;
}

#baseConvHeader {
    font-size: 16px;
}


/************************* For the Push Buttons  **************************/ 

QPushButton{
    background-color: black;
	color: lime;
    border-style: outset;
    border-width: 1px;
    border-radius: 4px;
    border-color: lime;
    font-size: 16px;

}

QPushButton:pressed{
   background-color : green;
}

/************************* For the Push Buttons  **************************/ 

QComboBox {
color: rgb(55, 255, 0);
    border-style: outset;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(98, 255, 0);
    font: 11pt "Arial";
}

/************************* QPlainTextEdit  **************************/ 

#baseEditBox {
    color: lime;
    font: 14pt "Cascadia Code";
    border: 2px solid darkgreen;
    selection-color: black;
    selection-background-color: lime;
}

#baseEditBox:focus{
    border: 2px solid limegreen;
}

QComboBox QAbstractItemView{
    color: lime;
}

/************************* For the Radio Buttons  **************************/ 
QRadioButton {

    background-color: transparent;
    color: lime;
    font-size: 16px;

}
/************************* For the Output Qline  **************************/
QLineEdit{

    background-color: black;
    border-style: outset;
    border-width: 2px;
    border-radius: 4px;
    border-color: lime;
    padding: 2px;
    color: lime;
    font-size: 19px;

}
